.button {
  display: inline-flex;

  color: $primary-white;
  text-transform: uppercase;

  background-color: $primary-blue;
  border: none;
  cursor: pointer;

  &--transparent {
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &:hover {
    opacity: 0.8;
  }
}
