.company-information {
  display: flex;
  flex-direction: row-reverse;
  padding: 60px 350px 120px;

  @media (min-width: $vp-770) {
    background-image: url("../../img/2022.png");
    background-repeat: no-repeat;
    background-size: 150px 320px;
    background-position: 350px 60px;

    justify-content: center;

    @include retina {
      background-image: url("../../img/2022@2x.png");
    }
  }

  @include vp-1919 {
    padding: 40px 48px 80px;
    background-position: 44px 42px;
  }

  @include vp-769 {
    padding: 25px 25px 80px;
  }
}

.company-information__company-description {
  width: 100%;
  padding-left: 250px;

  @include vp-1919 {
    padding-left: 179px;
  }

  @include vp-769 {
    padding: 0;
  }
}

.company-information h2 {
  margin: 0;
  margin-bottom: 15px;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;

  @include vp-769 {
    font-size: 28px;
    line-height: 35px;
  }
}

.company-information__description-wrapper {
  margin-bottom: 40px;
  line-height: 22px;

  &--more-information-closed {
    p:not(:nth-child(-n + 2)) {
      display: none;
    }

    @include vp-769 {
      span {
        display: none;
      }
    }
  }

  @include vp-1919 {
    margin-bottom: 0;
  }

  @include vp-769 {
    margin-bottom: -5px;

    font-size: 14px;
    line-height: 19px;
  }
}

.company-information__description-wrapper p {
  margin-top: 0;
  margin-bottom: 22px;

  @include vp-1919 {
    margin-bottom: 18px;
  }

  @include vp-769 {
    margin-bottom: 18px;
  }
}

.company-information__more-information-button {
  width: 180px;
  padding: 14px 14px;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $primary-blue;
  letter-spacing: 0.05em;

  border: 1px solid $primary-blue;
  border-radius: 3px;

  justify-content: center;

  @include vp-769 {
    width: 160px;
    padding: 8px 15px;
  }
}
