.main-info {
  min-height: 880px;

  color: $font-color-white;

  background-image: url("../../img/main-background-desktop.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../../img/main-background-desktop@2x.jpg");
  }

  @include vp-1919 {
    min-height: auto;
    background-image: url("../../img/main-background-tablet.jpg");
    background-position: 24% 0;

    @include retina {
      background-image: url("../../img/main-background-tablet@2x.jpg");
    }
  }

  @include vp-769 {
    background-image: url("../../img/main-background-mobile.jpg");
    background-position: bottom 0 left -205px;

    @include retina {
      background-image: url("../../img/main-background-mobile@2x.jpg");
    }
  }
}

.main-info__wrapper {
  display: flex;
  flex-direction: column;
  padding: 305px 475px 280px;

  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);

  @include vp-1919 {
    padding: 98px 50px 205px;
  }

  @include vp-769 {
    padding: 98px 25px 190px;
  }
}

.main-info__title {
  margin: 0 0 32px;

  font-family: $ff-roboto-condensed;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @include vp-1919 {
    margin-bottom: 5px;

    font-size: 64px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  @include vp-769 {
    margin-bottom: 10px;

    font-size: 36px;
    line-height: 42px;
  }
}

.main-info__text-wrapper {
  width: 685px;
  margin-bottom: 48px;

  font-size: 22px;
  line-height: 34px;

  @include vp-1919 {
    margin-bottom: 58px;
  }

  @include vp-769 {
    width: 100%;
    margin-bottom: 44px;

    font-size: 14px;
    line-height: 21px;
  }
}

.main-info__text-wrapper p {
  margin: 0;
}

.main-info__consultation-button {
  display: flex;
  max-width: 410px;
  padding: 15px 25px;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $primary-blue;
  border-radius: 3px;

  justify-content: center;

  .vp-max-769 {
    display: none;
  }

  @include vp-769 {
    span {
      display: none;
    }

    .vp-max-769 {
      display: inline;
    }
  }

  @include vp-1919 {
    margin-left: 45px;
  }

  @include vp-769 {
    margin: 0;
    padding: 12px 25px;

    font-size: 14px;
    line-height: 16px;
  }
}
