.modal__title {
  max-width: 80%;
  margin: 0 0 15px;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
}

.modal__subtitle {
  margin-bottom: 36px;

  font-size: 16px;
  line-height: 22px;

  p {
    margin: 0;
  }
}

.modal .consultation-form__submit-button {
  margin-bottom: 20px;
}

.modal .consultation-form__submit-button,
.modal .consultation-form__confirmation-consent {
  width: 100%;
}

.modal__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
