// Colors
// ---------------------------------

$primary-black: #041827;
$primary-white: #e5e5e5;
$primary-blue: #00b2ff;
$font-color-white: #f2f5f6;

// Typography
// ---------------------------------

$ff-ptmono:                         "PT Mono", "Arial", sans-serif;
$ff-roboto:                         "Roboto", "Arial", sans-serif;
$ff-roboto-condensed:               "Roboto Condensed", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-770:                            770px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
